#firstrow{
    background-color: rgba(248, 250, 250, 0.489);
    width: 100%;
}


.pf2{
    position: absolute;
    left: 55%;
}
.typed1{
    display: inline-block;
    font-family: "arial";
    font-size: 24px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid;
    width: 0;
    background-color: none;
    animation: typing 3.5s steps(30, end) forwards, blinking 1s infinite;
  }

    
  @keyframes typing {
        0% { width: 0 }
        80% { width: 23% }
        90%, 100% { width: 0 }

  }
  
  @keyframes blinking {
    0% {border-right-color: transparent}
    50% {border-right-color: black}
    100% {border-right-color: transparent}
  }
  
  .btn{
    background-color: rgba(127, 84, 247, 0.945);
    color: white;
    border-radius: 8px;
    width: 130px;
    height: 55px;
  }
  .pf1{
    position: absolute;
    top: 30%;
    left:20% ;
  }
  .fa-play-circle-o{
    -webkit-text-stroke:0.03px;
    color: rgba(127, 84, 247, 0.945);
    font-size:56px;
    font-weight: lighter;
    position: absolute;
    top: 68%;
    left: 11.5%;

  }
  /* .button {
    position: relative;
    color: rgba(127, 84, 247, 0.945);
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid white;
    border-radius: 1000px;
    padding: 10px 20px;
    margin: 40px;
    box-shadow: 0 2px 5px 0 rgba(3,6,26,0.15);
    transition: .5s all ease-in-out;
    &:hover {
      cursor: pointer;
      background: white;
      color: #1F4141;
      animation: none;
      //animation-play-state: paused;
    }
  } */


  .button-pulse {
    animation: pulse 2s infinite 3s cubic-bezier(0.25, 0, 0, 1);
    box-shadow: 0 0 0 0 rgb(164, 66, 239);
    border-radius: 100%;
    padding: 2px;
    padding-left: 5px;
    padding-right:5px;
  }
  @keyframes pulse {
    to {
      box-shadow: 0 0 0 18px rgba(255, 255, 255, 0); 
    }
  }
  
  