.nav{
    overflow: hidden;
    background-color:rgba(3, 33, 61, 0.925);
 }
 .nav a{
    
     /* position: absolute; */
     /* display: inline-block; */
     /* top: 50px; */
     color: rgb(213, 228, 241);
     /* text-align: center; */
     text-decoration: none;
     /* padding: 14px 16px; */
   
     /* outline: none;
     border: none; */
 }
 .nav-2 a{
    float: left;
    padding: 14px 16px;
    font-size: 25px;
     text-decoration: none;
 }
 .nav-1 a{
    margin-top: 0px;
    float: left;
    padding-left: 40px;
    font-size: 18px;
     text-decoration: none;
     text-align: center;
 }
 .bg{
    background-image: url(../images/mANINTHESNOW2.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 .txt{
    font-family:'Times New Roman', Times, serif ;
    color:rgba(3, 33, 61, 0.925);
 }
 .bgi{
   background-image: url(../images/snowfallling.png);
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   background-attachment:fixed;
 }
.cb1{
   background-color: rgba(202, 217, 230, 0.781);
}
 .abtus{
   font-family:'Times New Roman', Times, serif ;
   text-align: center;
   position: absolute;
   left: 25%;
   margin-top: 5%;
 }
 .abtus p,h2{
   vertical-align: middle;
   display:inline-block;
   color:rgba(3, 33, 61, 0.925);
 }
 .tt1{
   text-align: center;
   color:rgba(3, 33, 61, 0.925);
   position: absolute;
   left: 43%;
   padding-top: 5px;
   padding-bottom: 7px;
   margin-bottom: 5px;

 }
 .carousel-item{
   height: 500px;
 }
 footer{
  /* background-color: rgba(3, 33, 61, 0.925); */
 }
 .cont{
  color:  rgb(226, 239, 250);
 }
 form{
  padding-left: 30px;
  width: 1000px;
 }
 form input{
  border:none;
  outline: none;
  padding: 7px;
  background-color: transparent;
  border-bottom:1px solid rgb(216, 221, 224);
  color:  rgb(226, 239, 250);
}
form input:hover{
  border:none;
  outline: none;
  padding: 7px;
  background-color: transparent;
  border-bottom: 2px solid rgb(226, 239, 250);
  color:  rgb(226, 239, 250);
}
form label{
  padding: 15px;
}
form{
   /* background-color: rgba(3, 33, 61, 0.925); */
  width: 100%;
  color:  rgb(226, 239, 250);
  padding-bottom: 10px;
  position: relative;
  padding-left: 15%;
  padding-right: 15%;

}
form button{
  left: 62%;
  top: 83%;
  position: absolute;
  width:15%;
  padding: 14px 45px;
}
.ftr{
  width: 100%; 
  background-color:rgba(8, 63, 114, 0.925);
}
.google-map {
  padding-bottom: 40%;
  position: relative;
}

.google-map iframe {
  height: 400px;
  width: 1000px;
  left: 15%;
  top: 10%;
  position: absolute;
}
.ftt{
  background-color: rgba(3, 33, 61, 0.925);
}
footer{
  /* background-color:rgba(8, 63, 114, 0.925); */
  color: rgba(241, 241, 242, 0.757);
  padding: 80px;
}
th{
  color: whitesmoke;
}
footer a{
  text-decoration: none;
  color: rgba(241, 241, 242, 0.757);
}
